@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
	@apply my-5 text-2xl;
}

.container {
	@apply flex items-center justify-center flex-wrap;
}

.container img {
	@apply object-cover m-3.5 rounded-full;
	width: 300px;
	height: 300px;
	user-select: none;
}
