@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Poppins, sans-serif;
}

.user-form {
	max-width: 700px;
}

.user-form input {
	width: 100%;
	display: block;
}

.card {
	@apply bg-slate-300 mt-10 rounded-xl p-8 sm:flex gap-5 items-start justify-center;
}

.avatar {
	@apply border-4 border-blue-500 mx-auto w-56 h-auto;
	border-radius: 50%;
}

.user-info {
	@apply mt-8 sm:mt-0 mx-auto;
}

.user-info h2 {
	@apply text-2xl text-center sm:text-left;
}

.user-info p {
	@apply text-lg mt-6 sm:mt-4;
}

.user-info ul {
	@apply mt-4 grid items-center justify-between gap-4;
	grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}

#repos {
	@apply grid grid-flow-col gap-6;
}

.repo {
	@apply mt-4 decoration-2 underline underline-offset-8 inline-block rounded-full;
}
